# Python cache
__pycache__/
*.pyc

# SQLite database
/backend/db.sqlite3

# Environment variables
env/
.env
venv/
.venv/
node_modules/
db.sqlite3

# Migrations (optional, if you recreate them often)
*/migrations/__pycache__/
*/migrations/*.pyc

